$size: 12px;

.mat-mdc-checkbox {
  --mdc-checkbox-state-layer-size: $size;
  --mat-checkbox-touch-target-display: block;
  --mdc-form-field-label-text-font: var(--font-family);
  --mdc-form-field-label-text-line-height: $size;
  --mdc-form-field-label-text-size: 13px;
  --mdc-form-field-label-text-tracking: 0;
  --mdc-form-field-label-text-weight: 400;
  --mdc-checkbox-selected-checkmark-color: white;

  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  user-select: none;

  .mdc-form-field {
    .mdc-checkbox {

      flex: 0 0 $size;
      width: $size;
      height: $size;
      padding-bottom: 2px;
      padding-right: 10px;

      .mat-mdc-checkbox-touch-target {
        height: 20px;
        width: 20px;
      }

      .mdc-checkbox__ripple {
        display: none;
      }

      .mdc-checkbox__background {
        border-radius: 2px;
        width: $size;
        height: $size;
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.8) !important;
        top: 1px;
        left: 0;

        .mdc-checkbox__checkmark {
          top: 1px;
          left: 1px;
          bottom: 1px;
          right: 1px;
          width: unset;
        }
      }
    }
  }
}

.mdc-checkbox .mdc-checkbox__native-control:enabled:checked ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control:enabled:indeterminate ~ .mdc-checkbox__background, .mdc-checkbox .mdc-checkbox__native-control[data-indeterminate=true]:enabled ~ .mdc-checkbox__background {
  background-color: var(--blue4) !important;
  border-color: var(--blue4) !important;
}
