<button f-icon-button class="f-overlay-panel-button" cdk-overlay-origin (click)="onOpen()" #origin="cdkOverlayOrigin">
  <ng-content select="[f-trigger]"></ng-content>
</button>
<ng-template cdk-connected-overlay
             [cdkConnectedOverlayLockPosition]="true"
             [cdkConnectedOverlayHasBackdrop]="true"
             cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
             [cdkConnectedOverlayOrigin]="preferredOverlayOrigin || origin"
             [cdkConnectedOverlayOpen]="isPanelVisible"
             [cdkConnectedOverlayPositions]="positions"
             (attach)="attach()"
             (backdropClick)="backdropClick()">
  <div class="f-overlay-panel"
       [@transformPanel]="'showing'"
       (@transformPanel.done)="onAnimationDone()">
    <ng-content></ng-content>
  </div>
</ng-template>
