<f-image-picker-prefix cdk-overlay-origin (click)="onOpen()" #origin="cdkOverlayOrigin">
</f-image-picker-prefix>

<ng-template cdk-connected-overlay
             [cdkConnectedOverlayLockPosition]="true"
             [cdkConnectedOverlayHasBackdrop]="true"
             cdkConnectedOverlayBackdropClass="f-overlay-panel-backdrop"
             [cdkConnectedOverlayOrigin]="preferredOverlayOrigin || origin"
             [cdkConnectedOverlayOpen]="isPanelVisible"
             [cdkConnectedOverlayPositions]="positions"
             (attach)="attach()"
             (backdropClick)="backdropClick()">
  <div class="f-overlay-panel"
       [@transformPanel]="'showing'"
       (@transformPanel.done)="onAnimationDone()">
    <f-image-picker (valueChange)="updateValue($event)"></f-image-picker>
  </div>
</ng-template>
