body {
  --font-family: 'Inter', Roboto, "Helvetica Neue", sans-serif;
}

@mixin h1 {
  font-family: var(--font-family);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.h1 {
  @include h1();
}

@mixin h2 {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
}

.h2 {
  @include h2();
}

@mixin font-default {
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.font-default {
  @include font-default();
}

@mixin font-default-semibold {
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.font-default-semibold {
  @include font-default-semibold();
}

@mixin font-paragraph {
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

.font-paragraph {
  @include font-paragraph();
}

@mixin font-medium {
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.font-medium {
  @include font-medium();
}

@mixin font-medium-semibold {
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.font-medium-semibold {
  @include font-medium-semibold();
}

@mixin regular-text {
  font-family: var(--font-family);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}
