:host {
  width: 28px;
  height: 28px;
  border-radius: 2px;
  margin: 0;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  padding: 6px;
  color: rgba(0, 0, 0, 0.7);

  &:hover {
    background-color: #f5f5f5;
  }
}

