@if (isInitialized) {
  <toolbar></toolbar>
  <section class="master-body">
    <navigation-bar></navigation-bar>
    @if (configuration.explorerPanel.isVisible) {
      <section class="explorer-panel-container" resizable-box (onResizeEnd)="onExplorerPanelResizeEnd($event)"
               [minWidth]="100" [initialWidth]="configuration.explorerPanel.width">
        <div class="explorer-panel-column">
          <explorer-panel></explorer-panel>
        </div>
        <div class="explorer-panel-resize-handle" resizable-box-handle></div>
      </section>
    }
    <router-outlet></router-outlet>
  </section>
}


