:host {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .f-image-backdrop-light {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.preview {
    .f-image-backdrop-light {
      display: block;
    }
  }
}

img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}


