:host {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 16px 16px 0;
  border-top: var(--context-menu-border);

  .f-color-picker-preset-color {
    width: 16px;
    height: 16px;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 0.6px inset;
    cursor: pointer;
  }
}
